@media screen {
	.tang {
overflow:hidden;
margin: 20px 30px;
			padding-left: 2%;
			padding-right:  2%;
		  /*background-color: #5555cc;*/
	}
}

@media (max-width: 480px) {
	.tang {
	    width: 320px;
	    margin: 0 auto;
	}

}

body{
		  font-family: helvetica, arial, sans-serif;
margin: 0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,142,223,0.5)), color-stop(40%,rgba(83,203,241,0.7)), color-stop(100%,rgba(25,71,124,0.6)),color-stop(80%,rgba(235,224,253,0.5)));
background: -webkit-linear-gradient(top, rgba(135,124,223,0.4) 0%,rgba(83,203,241,0.2)15%);
}

header {
    height: 60px;
    padding: 0;
    margin: 0 20px;
}

header h2 {
		color: #8ac007;
		font-size: 40px;
		font-weight: 200;
		line-height: 34px;
		text-decoration: none;
}

.block {
    width: 45%;
    min-width: 380px;
    height: auto;
    float: left;
    margin-right: 5%;
    margin-top: 25px;
    margin-left: 0;
}

.tang a { 
	  color: #FFF;
		text-decoration: none;
}

.card {
    display: block;
	  width: 150px;
		height: 150px;
	  margin: 5px;
	  position: relative;
	  float: left;
	  background-color: #0088cc;
}

.card-long {
	  width: 310px;
		height: 150px;
	  margin: 5px;
	  position: relative;
	  float: left;
	  background-color: #0088cc;
}

.card:hover, .card-long:hover, .card-large:hover {
	  border: solid 3px #555;
	  margin: 2px;
}

.card-large {
	  width: 310px;
	  height: 310px;
	  margin: 5px;
	  position: relative;
	  float: left;
	  background-color: #0088cc;
}

.theme-a {
	  background-color: #4099ff;
}

.theme-b {
	  background-color: #01a31c;
}

.theme-c {
	  background-color: #6cda1a;
}

.theme-d {
	  background-color: #00ccff;
}

.theme-e {
	  background-color: #f60000;
}

.theme-f {
	  background-color: #59008f;
}

.theme-g {
	  background-color: #ffc0cb;
}

.theme-h {
	  background-color: #008641;
}
